pika==1.0.1
requests==2.21.0
six==1.12.0
structlog==19.1.0
-e git+git://github.com/ONSDigital/sdc-rabbit.git@fix-ioloop-reconnect#egg=sdc-rabbit
idna==2.8
certifi==2018.11.29
urllib3==1.24.2
chardet==3.0.4
tornado==6.0.2
backports_abc==0.5
cffi==1.11.2
python-dateutil==2.6.1
pycparser==2.18
olefile==0.44
gunicorn==19.6.0
